<br>
<div class="jumbotron">
  <div class="col-sm-8">
    <h1>Create Your Profile</h1>
    <p>This is going to be fun!</p>
  </div>
  <div class="text-center">
    <h2><%= image_tag("logos/JMBL.png", width: '200px') %></h2>
  </div>
</div>

<div class="col-md-8">
  <%= render partial: 'form', locals: { user_profile: @user_profile } %>
</div>
