/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

 .jumbotron {
   background-color:#ff9999 !important;
 }

 .btn-primary {
   background-color:transparent !important;
   border-color:#ffffff !important;
 }

 .navbar-link {
   color:#8c8c8c !important;
 }

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
   font-family:"Times New Roman", Georgia, Serif !important;
   color:#8c8c8c !important;
 }
